@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0; /* Customize thumb and track colors */
  }

  /* For webkit browsers */
  .scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .scrollbar::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 9999px;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 9999px;
  }

  /* Dark mode adjustments */
  .dark .scrollbar::-webkit-scrollbar-track {
    background: #2d2d2d;
  }
  .dark .scrollbar::-webkit-scrollbar-thumb {
    background: #555;
  }
}
